.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    :is(label) {
        /* Add label styles here */
    }

    :is(select) {
        /* Add select styles here */

        :is(option) {
            /* Add option styles here */
        }
    }

    /* Might want to make this a global style */
    .helper {
        /* Add helper styles here */
    }
}
