.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    height: 100%;

    .box {
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: white;
        min-height: 300px;
        display: flex;
        flex-direction: column;

        .header {
            padding: 16px;
            margin: 0;
            border-bottom: 1px solid #ccc;
            background-color: #a79280e0;
            border-radius: 8px 8px 0 0;
            text-align: center;
        }

        .content {
            padding: 16px;
            overflow-y: auto;
            overflow-x: hidden;
            flex-grow: 1;
            text-align: center;
        }
    }
}

@media screen and (max-width: 900px) {
    .container {
        /* Stack boxes vertically on smaller screens */
        grid-template-columns: 1fr;
    }
}
