.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
