.container {
    max-width: calc(var(--max-width) / 2);
    margin: 0 auto;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    :is(h1) {
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}
