.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    :is(h1) {
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 16px;
    }
}
