@import url('css/reset.css');
@import url('css/button.css');

/* Global Styles */
:root {
    background-color: rgb(252, 247, 239);

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascading_variables/Using_CSS_custom_properties */
    /* Spacing */
    --max-width: 1200px;

    --spacing-small: 8px;
    --spacing-medium: 10px;
    --spacing-large: 20px;

    /* Colors */
    --color-inherit: inherit;
    --color-text-primary: #333333;
    --color-text-secondary: #666666;
    --color-text-error: #dc3545;

    --color-button-primary: #fff;
    --color-button-secondary: #000;

    --background-color-primary: #ffffff;
    --background-color-secondary: #f1f3f5;

    --background-color-button-primary: #c0b39a;
    --background-color-button-secondary: #c0b39a;

    --border-color-primary: #cccccc;
    --border-color-secondary: #aaaaaa;

    --shadow-color-primary: 0 2px 4px rgba(0, 0, 0, 0.2);
    --shadow-color-focus: 0 0 0 2px rgba(0, 123, 255, 0.5);

    /* Font */
    --font-weight-bold: bold;

    /* Transition */
    --transition-duration: 0.2s;
    --transition-easing: ease;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
